<div class="container">
  <%= erb :_nav_bar %>
</div>

<div class="container">
  <h1> Welcome <%= username %> to Post A Tweet!&nbsp; </h1>
</div>
<% if login? %>
	<div class="container1">
		<br>
		<body><b> Compose New Tweet </b><br><br>
		  <form method="post" action="/tweet" id="post_tweet">
		    <table border="0"><tr><td><textarea name="tweet_msg" rows="4" cols="60" autocorrect="on" autocapitalize="off"></textarea></td></tr></table><br>
		    <input class="mybutton1" type="submit" value="Submit">
		    <br>
		  </form>
		  <br>
		  <b> Compose New Tweet to be Post Later </b><br>
		   <form method="post" action="/tweet_later" id="post_tweet_later">
		    <table border="0"><tr><td><textarea name="tweet_msg1" rows="4" cols="60" autocorrect="on" autocapitalize="off"></textarea></td></tr><td>Delay Time:&nbsp;<input type="number" min="0" step="1" name="time" size="3"></td><br></table><br>
		    <input class="mybutton1" type="submit" value="Submit">
		    <br>
		  </form>
		  <br>
		  <div id="status"></div>
		</body>
	</div>

	<div class="container">
		<div class="container2">
			<br>
			<b>Your 10 Most Recent Tweets:</b>
			<br>
		</div>
		<div id="wait-msg">
			<br>
			<img src="/images/ajax-loader.gif"> Updating</img>
		</div>
		<div id="show_tweet">
		</div>
	</div>
<% end %>


